<div class="container">
  <div class="row">
      <div class="mt-2 col-sm-4">  
    <img src="../assets/images/rck.png" class="img" width="96" height="96" class="mx-auto d-block" />
    </div>
  </div>
    <div class="row">
    <div class="mt-2 col-sm-4">  
      <h3 class="text-center">Kids Sign Out Page</h3>
      <ul class="nav justify-content-center">
          <li class="nav-item">
            <a routerLink="kids" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Show Kids</a> 
      </ul>
      <hr>
      <router-outlet></router-outlet>
    </div>
    </div>
</div>